name: LeetCode Metrics

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  metrics:
    runs-on: ubuntu-latest
    steps:
      - name: Generate LeetCode metrics
        uses: lowlighter/metrics@latest
        with:
          filename: metrics.plugin.leetcode.svg
          token: ${{ secrets.GITHUB_TOKEN }}
          base: ""

          with:
            config_padding: 20, 20, 160, 20
            config_background: 0d1117
            config_border: 1
            config_border_radius: 10

          # ===== LeetCode plugin =====
          plugin_leetcode: yes
          plugin_leetcode_user: hereisben
          plugin_leetcode_sections: solved, skills, recent
